:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    height: 100%;
  
    color-scheme: light dark;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

html, body {
    height: 100%; 
    width: 100%;
    margin: 0; 
    padding: 0; 
}
  
a {
    text-decoration: none;
    color: inherit;
    font-size: large;
}
  
h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #ffffff;
    cursor: pointer;
    transition: border-color 0.25s;
  }

  button:hover {
    border-color: #ef8693;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

.main {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    color: black;
    background-color: rgb(134 239 172);
}

.icon {
    margin: 2.5rem;
}

.icon img {
    width: 8rem;
    height: 8rem;
    border-radius: 9999px;
    margin: 0.625rem;
}

.profile-name {
    padding: 5px;
    font-size: 3rem;
    width: auto;
    font-weight: bold;
    display: flex;
    justify-content: center;
    background-color: beige;
    border-radius: 20px;
}

input {
    border: 2px solid #86efac; /* Green border using your specified color */
    border-radius: 5px; /* Rounded corners */
    padding: 5px; /* Some padding inside the inputs */
    margin: 2px;
    font-size: 1em; /* Font size */
    outline: none; /* Removes the default focus outline */
    transition: border-color 0.3s, box-shadow 0.3s; /* Smooth transition for focus effect */
}

input:focus {
    border-color: #64d8cb; /* Slightly darker green for focus */
    box-shadow: 0 0 5px #64d8cb; /* Adding a glow effect on focus */
}


.artist-container {
    align-self: flex-start;
    width: 100%;
}

.artist {
    position: relative;
}

.artist button {
    font-size: small;
    position: absolute;
    top: 0;
}

.artist-text {
    font-size: 1.875rem;
    font-weight: bold;
    margin-right: 0px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.entry-and-artist {
    display: flex;
    justify-content: start;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border-color: black;
    border-width: 1px;
}

#toggle-add-artist {
    margin-right: 10px;
    width: 20%;
    color: green;
    border-color: green;
    border-width: 2px;
}

select {
    border: 2px solid #86efac; /* Green border */
    border-radius: 5px; /* Rounded corners */
    padding: 5px; /* Padding inside the elements */
    font-size: 1em; /* Font size */
    outline: none; /* Removes the default focus outline */
    transition: border-color 0.3s, box-shadow 0.3s; /* Smooth transition for focus effect */
    background-color: white; /* Background color */
    -webkit-appearance: none; /* Removes default styling for select on WebKit browsers */
    -moz-appearance: none; /* Removes default styling for select on Mozilla browsers */
    appearance: none; /* Removes default styling for select */
}

.fun-fact-container {
    margin: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#fun-fact-artists {
    background-color: #ef8693;
    border-radius: 10px;
    margin-top: 5px;
}

.fun-fact-container button {
    width: 500px;
    font-size: 30px;
    padding: 5px;
    border-width: 2.5px;
    border-color: black;
}

select:focus {
    border-color: #64d8cb; /* Slightly darker green for focus */
    box-shadow: 0 0 5px #64d8cb; /* Adding a glow effect on focus */
}

/* Style for the arrow down icon in the select box */
select {
    background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px top 50%; /* Position of the icon */
    background-size: 12px; /* Size of the icon */
}


.artist-display {
    display: flex;
    justify-content: start;
    font-size: 1.875rem;
    max-width: 85%;
    justify-self: center;
    overflow-x: auto;
}

.artist-display::-webkit-scrollbar {
    display: none;
}

.artist {
    flex-shrink: 0;
    margin-right: 50px;
}

#song-display.artist-display {
    display: flex;
    justify-self: center;
    align-self: center;
}


.song-container, .join-gae, .albums-container, .comments-container {
    width: 100%; /* Ensuring full width */
    padding: 10px;
    margin-bottom: 20px; /* Space between sections */
    background-color: #f0f0f0; /* Light background for contrast */
    border-radius: 10px; /* Consistent rounded corners */
}

.song-container div, .join-gae div, .albums-container div, .comments-container div {
    font-size: 1.5em; /* Larger font size for section titles */
    margin-bottom: 10px; /* Space below titles */
    color: #333; /* Darker text color for contrast */
}

.filter-conditions {
    display: grid;

}

#nested-agg {
    margin-top: 10px;
    margin-bottom: 10px
}

.comments-header {
    font-weight: bold; /* Making comment header bold */
    color: #86efac; /* Using the green color for headers */
}

#comment-form, #insert-song, #gae-ah-form, #get-album-greater {
    display: flex;
    flex-direction: column; /* Stack form elements vertically */
    gap: 10px; /* Space between form elements */
}

textarea, select, button[type="submit"] {
    border: 2px solid #86efac; /* Green border */
    border-radius: 5px; /* Rounded corners */
    padding: 5px; /* Padding inside elements */
    font-size: 1em; /* Consistent font size */
    outline: none; /* Removing default focus outline */
    transition: border-color 0.3s, box-shadow 0.3s; /* Smooth transition */
}

textarea:focus, select:focus, button[type="submit"]:focus {
    border-color: #64d8cb; /* Slightly darker green on focus */
    box-shadow: 0 0 5px #64d8cb; /* Glow effect on focus */
}

button[type="submit"] {
    background-color: #86efac; /* Green background */
    color: white; /* White text */
    cursor: pointer; /* Pointer cursor on hover */
}

button[type="submit"]:hover {
    background-color: #64d8cb; /* Darker green on hover */
}
